.wrapper {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-areas:
		'back back'
		'title title'
		'image info';

	animation: 0.5s linear;
	animation-name: opacity;

	@keyframes opacity {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	.back {
		display: flex;
		align-items: center;

		margin-top: 40px;

		cursor: pointer;
		transition: color ease 0.2s;

		color: var(--gray);
		grid-area: back;

		.text {
			font-size: 20px;
			font-weight: 600;
		}

		&:hover {
			color: var(--black);

			svg {
				fill: var(--black);
			}
		}
	}

	.title {
		margin-top: 40px;
		margin-bottom: 40px;

		font-size: 18px;
		grid-area: title;
	}

	.image {
		width: 200px;
		height: 200px;
		object-fit: contain;
		grid-area: image;
	}

	.info {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		row-gap: 20px;
		grid-area: info;

		line-height: 1.5;

		.categories {
			&::before {
				margin-right: 5px;

				content: 'Categories:';

				color: var(--gray);
			}
		}

		.authors {
			&::before {
				margin-right: 5px;

				content: 'Author:';

				color: var(--gray);
			}
		}

		.desc {
			&::before {
				margin-right: 5px;

				content: 'Description:';

				color: var(--gray);
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.wrapper {
		justify-items: center;
		grid-template-columns: 1fr;
		grid-template-areas:
			'back'
			'title'
			'image'
			'info';

		.image {
			margin-bottom: 20px;
		}

		.back {
			justify-self: left;
		}
	}
}
