.arrow {
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		width: 15px;
		height: 15px;
	}

	.down {
		transform: rotate(90deg);
	}

	.up {
		transform: rotate(270deg);
	}

	.left {
		margin-right: 10px;

		transform: rotate(180deg);
	}
}
