.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  animation: .5s linear;
  animation-name: opacity;

  @keyframes opacity {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  h3 {
    text-align: center;
    margin: 20px 0;
  }

  .bookList {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 30px;
    margin-bottom: 40px;
  }

  .btn {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 550px){
  .wrapper {
    .bookList {
      column-gap: 30px;
      justify-content: center;
    }
  }
}