body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;

  color: var(--black);
  background: #F5F6F8;

  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3B434E;
  --gray-light: #EBEBEB;
  --gray: #A4A4A4;
  --gray-dark: #6C7077;
  --white: white;
}
